@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

body {
    box-sizing: border-box;
    background-color: #100c08;
}

.header {
    font-size: 8em;
    color: dimgrey;
    opacity: 40%;
    width: 98%;

}

#timer-container {
    height: 20em;
    width: 20em;
    border: lightslategray 2px solid;
    margin: 0 auto;
    border-radius: 20px;
    background-color: whitesmoke;
}

#timer-input {

}

input {
    margin: 0 auto;
    border-radius: 15px;
    border: 1px solid lightslategray;
}

#inputField{
    background-color: dimgrey;
    border: none;
}

::placeholder {
    color: whitesmoke;
    font-size: 14px;
    width: 100%;
}

button {
    color: ghostwhite;
    background-color: #95d5b2;
    border-radius: 15px;
}

.timeContent {

}

